Checks:          "clang-diagnostic-*,\
                  clang-analyzer-*,\
                  modernize-*,\
                  performance-*,\
                  readability-*,\
                  bugprone-*,\
                  fuchsia-*,\
                  cppcoreguidelines-*,\
                  -modernize-use-trailing-return-type,\
                  -modernize-type-traits,\
                  -modernize-use-constraints,\
                  -modernize-use-designated-initializers,\
                  -performance-unnecessary-copy-initialization,\
                  -performance-unnecessary-value-param,\
                  -cppcoreguidelines-avoid-do-while,\
                  -cppcoreguidelines-pro-type-vararg,\
                  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
                  -cppcoreguidelines-pro-bounds-pointer-arithmetic,\
                  -cppcoreguidelines-pro-type-reinterpret-cast,\
                  -cppcoreguidelines-init-variables,\
                  -cppcoreguidelines-pro-type-member-init,\
                  -bugprone-suspicious-include,\
                  -fuchsia-default-arguments-calls,\
                  -fuchsia-overloaded-operator,\
                  -readability-function-cognitive-complexity,\                 
                  -readability-use-concise-preprocessor-directives,\
                  -readability-implicit-bool-conversion,\
                  -readability-convert-member-functions-to-static"                
                  

WarningsAsErrors: "*"
HeaderFilterRegex: '.hpp'
